
*{
    margin: 0;
    padding: 0;
  }

.Menu {
    clear: both;
    width: 100%;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 20, 5, 0.8);
  }

  .Logo {
    margin-left: 12%;
    min-width: 200px;
    font-size: 36px;
    text-decoration: none;
    color: white;
    background-color: #3b7a3b;
    padding: 0 10px;
    border-radius: 25px;
  }
  
  .Menu-Navigation {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
  }

  .Hamburger{
    display: none;
  }
  
  .Menu-Link {
    padding: 3px 20px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #3b7a3b;
    border-radius: 25px;
    margin: 0 10px;
  }

  .Menu-Link:hover {
    background-color: #6ed47f;
  }
  
  @media(max-width: 600px){
    .Menu {
      clear: both;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }

    .Logo{
      margin: 0;
      font-size: 36px;
      display: flex;
      min-width: 200px;
      border-radius: 0;
      padding: 0 20px;

    }
  
    .Menu-Navigation {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .Hamburger {
      display: flex;
      background-color: black;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
    }

    .fa-bars {
      color: white;
    }

    .Menu-Link {
      display: flex;
      border-radius: 0;
      width:  200px;
      justify-content: center;
      border-top: 1px solid black;
    }

    .Menu-Link-Hidden {
      display: none;
    }

  }

  /* global title header settings */

  h1 {
    text-align: center;
    font-size: 64px;
  }

  /* global Body setting */

  body {
      background-color: rgba(14, 36, 20, 0.8);
  }

  .Body-Content{
    background-color: white;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  @media(max-width: 650px){
    .Body-Content{
      width: 90%;
    }
  }

  /* global canvas settings */

  #defaultCanvas0, canvas {
      margin: 0 auto;
      display: flex;
      justify-content: center;
  }

  #canvas-holder {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    
  }
  .Controls {
    width: 1200px;
    align-self: center;
    background: #eee;
  }

  /* default images class setting */

  .Link {
    Border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50px;
  }
  
  .Link img {
    width: 100%;
    height: 85%;
    display: flex;
    align-self: flex-start;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .Link .Link-Text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #005500;
    position: absolute;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-top: -15px;
    padding: 3px 10px;
    border-radius: 50px;
  }

  .Links-Holder {
    clear: both;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
  
  }
  
  .Link-Row {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Global Blog Code */
  .Blog {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
}

.Blog-Paragraph {
    width: 80%;
    justify-items: center;
    align-content: center;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    margin: 20px;
}

p img {
    width: 50%;
}

.Left-Side-Text {
    width: 50%;
    margin-right: 20px;
}
ul {
  width: 70%;
  justify-content: flex-start;
}
  

  @media (max-width: 900px){
    .Link-Row {
      justify-content: center;
    }
  }

  @media (max-width: 1200px){
    .Controls {
      width: 1200px;
      text-align: center;
    }
  }