
.App {
  clear: both;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Profile-Picture {
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}

.App-header {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.Name {
  font-size: 46px;
  padding: 10px;
  margin-top: 50px;
}


.About-Me {
  padding: 50px 100px;
  font-size: 32px;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}


.Links-Holder {
  clear: both;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;

}

.Link-Row {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Link {
  border: 1px solid black;
  min-width: 200px;
  min-height: 200px;
  margin: 40px 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  text-align: center;
}

@media (max-width: 900px){
  .Link-Row {
    justify-content: center;
  }
}


@media(max-width: 1800px){
  .App-header{
    margin-left: 400px;
  }
  .About-Me {
    margin-left: 400px;
  }
}

@media(max-width: 900px){
  .Profile-Picture {
    margin: 0 auto;
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .App-header{
    margin-left: 0px;
  }
  .About-Me {
    margin-left: 0px;
  }
}